{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
  <h2>Read Data</h2>

  <table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Username</th>
      <th scope="col">First_name</th>
      <th scope="col">Last_name</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{data.id}}</th>
      <td>{{data.username}}</td>
      <td>{{data.first_name}}</td>
      <td>{{data.last_name}}</td>
      <td>{{data.email}}</td>
    </tr>
  </tbody>
</table>
</div>


{% endblock content %}